<% if current_user.nil? %>
  <p><%= link_to "Inscription", new_user_registration_path %></p>
  <p><%= link_to "Connexion", new_user_session_path %></p>
<% else %>
  <p><%= link_to "Déconnexion",  destroy_user_session_path, :method => :delete %></p>
<% end %>
